*{
    margin: 0;
    padding: 0;
}

body{
    
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;    /*overflow: hidden;
    position: fixed;
    min-width: 300px;
    max-height: 100vh;*/
    min-height: 100vh;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background: linear-gradient(102.32deg, #030422 -2.74%, #090114 101.6%);
   
}

.middle{
    max-height: 608px;
    min-height: 608px;

    min-width: 436px;
    max-width: 436px;
    z-index: 1;
    border-radius: 35px;
    flex: 1;
    box-sizing: border-box;
    display: flex;
    position: relative; /* Add relative positioning */

    background-image: url(yurr.png);
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    background-size: cover;
    
}

  
.middle::before {
    content: ""; /* Add content for pseudo-element */
    position: absolute; /* Position the pseudo-element */
    top: 0;
    left: 0;

    border-radius: 35px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90.24deg, rgba(13, 21, 92, 0.878) 0%, rgba(53, 14, 88, 0.859) 98.1%);
    opacity: 0.6; /* Adjust the opacity as desired */
    /*z-index: -1; /* Place the pseudo-element behind the content */
}
                                                                                                                                    
.middle::after {
    content: ""; /* Add content for pseudo-element */
    position: absolute; /* Position the pseudo-element */
    top: 0;
    left: 0;
  
    border-radius: 35px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90.24deg, rgba(14, 23, 101, 0.947) 0%, rgba(53, 14, 88, 0.928) 98.1%);
    opacity: 0.9; /* Adjust the opacity as desired */
    z-index: -1;
}

.writtenTings{
    padding-top: 32px;
    padding-left: 35px;
    max-height: 56vh;
    height: 196px;
    z-index: 2;
}

.titleText{
    color: white;
    justify-content: left;
    min-width: 263px;

}

.titleText h1{
    font-weight: 700;
    line-height: 40px;                 
    letter-spacing:  3px;
    margin-bottom: 5px;
    margin-top: 17px;
    font-size: 32px;
    min-width: 275px;
}

.titleText p{
    min-width: 300px;
    margin-top: 16px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}


.bodyText{
    padding-top: 22px;
    margin-top: 40px;
    background-color: #0d0f4d00;
    max-width: 260px;
}

.qween{
    width: 500px; /* Set the desired width */
    height: auto; /* Set the desired height */
    z-index: 3;
    margin-bottom: -500px;
    margin-left: -25px;
    
}

.qween img{
    margin-left: -200px;
    margin-top: 50px;

}

.whiteFont{
    width: 198px;
    color: #D8CEDE;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    
}

.greyFont{
    color: #9C83A7;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.lefty{
    background-image: url(f.png);
    max-height: 486px;
    min-height: 486px;

    min-width: 348px;
    max-width: 348px;
    z-index: 0;
    margin-left: 100px;
    margin-right: -116px;
    border-radius: 35px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
  
    flex: 1;
    position: relative; /* Add relative positioning */
    background-position: 50% 50%; 

}

                                                                                                                                  
.lefty::after{
    content: ""; /* Add content for pseudo-element */
    position: absolute; /* Position the pseudo-element */
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 1, 14, 0.5), rgba(0, 1, 14, 0.5)), linear-gradient(148.95deg, rgba(14, 23, 101, 0.85) -7.05%, rgba(42, 17, 92, 0.85) 110.07%);
    border-radius: 35px;
    width: 100%;
    height: 100%;
    z-index: -1;
}




.sub{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;

    opacity: 0.9;
    /*border: 1px solid #312D74;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/

    color: transparent; /* Set text fill color to transparent */
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.25); /* Add purple outline */
    -webkit-text-fill-color: transparent;
}

.righty{
    background-image: url(allah.png);
    max-height: 486px;
    min-height: 486px;

    min-width: 348px;
    max-width: 348px;
    z-index: 0;
    margin-right: 100px;
    margin-left: -116px;
    border-radius: 35px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    flex: 1;
    position: relative; /* Add relative positioning */
    background-position: 50% 50%; 

}

.righty::after{
    content: ""; /* Add content for pseudo-element */
    position: absolute; /* Position the pseudo-element */
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 1, 14, 0.5), rgba(0, 1, 14, 0.5)), linear-gradient(148.95deg, rgba(14, 23, 101, 0.85) -7.05%, rgba(42, 17, 92, 0.85) 110.07%);
    border-radius: 35px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

